<nav class="top-nav">

    <!-- ESQUERDA -->
    <div class="nav-left">
        <a data-action="home" href=#><img src="/assets/SamCordis ( logo branca ).png" alt="Samcordis"></a>
    </div>

    <!-- CENTRO -->
    <div class="nav-center">

        <div class="dropdown">
            <button data-action="nutricao" class="nav-btn">Nutrição</button>
            <div class="dropdown-content">
                <a data-action="cardapio" href="#">Cardápio</a>
            </div>
        </div>

        <div class="dropdownTI">
            <button data-action="manual" class="nav-btn" style="width: 100px; font-size: 100%;">T.I.</button>

            <div class="dropdownTI-content">

                <!-- COLUNA MANUAL -->
                <div class="mega-column" style="margin-left: 12%;">
                    <h4>Dúvidas MV</h4>
                    <a data-action="mvsoul" href="#">Acessar MvSoul</a>
                    <a data-action="mvpep" href="#">Acessar MvPep</a>
                    <a data-action="chamado" href="#">Abrir Chamado|OS</a>
                </div>

                <!-- COLUNA TI -->
                <div class="mega-column">
                    <h4>Ferramentas</h4>

                    <a data-action="idce" href="#">iDCE</a>

                    <div class="submenu">
                        <span>Business Inteligence (BI) <i class="fa-solid fa-chevron-down"></i></span>

                        <div class="submenu-content">
                            <a data-action="painel" href="#">Painel de Chamados</a>
                            <a data-action="hsp" href="#">HSP</a>
                        </div>
                    </div>

                    <div class="submenu">
                        <span>Microsoft <i class="fa-solid fa-chevron-down"></i></span>


                        <div class="submenu-content">
                            <a data-action="cloud" href="#">Planner</a>
                            <a data-action="sharepoint" href="#">SharePoint</a>
                            <a data-action="email" href="#">Email | Outlook</a>
                            <a data-action="teams" href="#">Teams</a>
                        </div>
                    </div>

                </div>

                <!-- COLUNA FINANCEIRO -->
                <div class="mega-column">
                    <h4>Contato</h4>
                    <a data-action="ramal" href="#">Ramais</a>
                </div>
            </div>
        </div>

        <button data-action="noticias" class="nav-btn">Notícias</button>
    </div>

    <!-- DIREITA -->
    <div class="nav-right">
        <button data-action="login" class="nav-btn login-btn">Fazer Login <i class="fa-solid fa-sign-in"></i></button>
        <button data-action="logout" class="nav-btn login-btn" style="display: none;">Sair <i
                class="fa-solid fa-sign-in"></i></button>
    </div>
</nav>