<nav class="top-nav">

    <!-- ESQUERDA -->
    <div class="nav-left">
        <a data-action="home" href=#><img src="/assets/TISamCordis2.png" alt="Samcordis"></a>
    </div>

    <!-- CENTRO -->
    <div class="nav-center">

        <div class="dropdown">
            <button data-action="nutricao" class="nav-btn">Nutrição</button>
            <div class="dropdown-content">
                <a data-action="cardapio" href="#">Cardápio</a>
            </div>
        </div>

        <div class="dropdownTI">
            <button data-action="manual" class="nav-btn" style="width: 100px;"><i class="fa-solid fa-book"></i></button>

            <div class="dropdownTI-content">

                <!-- COLUNA MANUAL -->
                <div class="mega-column" style="margin-left: 9%;">
                    <h4>Ferramentas</h4>
                    <a data-action="painel" href="#">Painel de Chamados</a>
                    <a data-action="hsp" href="#">HSP</a>
                    <a data-action="pfsense" href="#">pfSense</a>
                    <a data-action="idce" href="#">iDCE</a> 
                    <a data-action="pacs" href="#">PACS</a> 
                    <a data-action="rockstor" href="#">Rockstor</a>
                    <a data-action="kaspersky" href="#">Kaspersky</a>
                    <a data-action="fme" href="#">Follow me</a> 
                    <a data-action="intelbras" href="#">Intelbras</a>
                </div>

                <div class="mega-column">
                    <h4>Microsoft</h4>
                    <a data-action="cloud" href="#">Planner</a>
                    <a data-action="sharepoint" href="#">SharePoint</a>
                    <a data-action="email" href="#">Email | Outlook</a>
                    <a data-action="teams" href="#">Teams</a>
                </div>

                <!-- COLUNA TI -->
                <div class="mega-column">
                    <h4>TI</h4>
                    <a href="/pages/Format/format.html">Formatação</a>
                    <a href="/pages/RemoteService/remoteService.html">Atendimento Remoto</a>
                    <a href="/pages/PrinterInstallation/printerInstallation.html">Instalação de Impressora</a>
                    <a href="/pages/Proxy/proxy.html">Configuração de Proxy</a>
                    <a href="/pages/ExchangeOfPcs/ExchangeOfPcs.html">Troca de Máquinas | Backup</a>
                </div>

                <!-- COLUNA FINANCEIRO -->
                <div class="mega-column">
                    <h4>Financeiro</h4>
                    <a href="/pages/PurchaseOrder/purchaseOrder.html">Ordem de Compra</a>
                    <a href="/pages/ServiceEntrance/ServiceEntrance.html">Entrada de Serviço</a>
                    <a href="/pages/ProductEntry/ProductEntry.html">Entrada de Produto</a>
                </div>

                <div class="mega-column">
                    <h4>Contato</h4>
                    <a data-action="editRamal" href="#">Ramais</a>
                </div>
            </div>
        </div>


        <button data-action="noticias" class="nav-btn">Notícias</button>
    </div>

    <!-- DIREITA -->
    <div class="nav-right">
        <button data-action="login" class="nav-btn login-btn">Fazer Login <i class="fa-solid fa-sign-in"></i></button>
        <button data-action="logout" class="nav-btn login-btn" style="display: none;">Sair  <i class="fa-solid fa-sign-in"></i></button>
    </div>
</nav>